[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eaf"]
	path = eaf
	url = https://github.com/mlopez-ibanez/eaf
[submodule "irace"]
	path = irace
	url = https://github.com/mlopez-ibanez/irace
